# Numerous always-ignore extensions
*.css

# OS or Editor folders
.DS_Store
Thumbs.db
*.sublime-project
*.sublime-workspace

# Folders to ignore
.git
.idea

# Node.JS
pids
logs
results

node_modules
npm-debug.log