/* Overthrow CSS:
   Enable overflow: auto on elements with overthrow class when html element has overthrow class too */
.overthrow-enabled .overthrow {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}


select.b-select
  position: absolute;
  clip: rect(0,0,0,0);

/***** Begin Theme, feel free to edit in here! ******/

.b-select
  // margin-bottom: 18px;
  // border-radius: 5px;
  // background: linear-gradient(top, #fff, #f5f5f5);
  background-color: #fff;
  // font-size: 12px;
  // font-family: 'Helvetica', Arial, sans-serif;
  // line-height: 14px;

  display: block;
  box-sizing: border-box;
  margin-top: 7px;
  margin-bottom: 7px;
  border: 1px solid #d4d7c9;
  border-radius: 3px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.26);
  color: #191919;
  font-size: 13px;
  smoothing();

  &_days
  &_month
  &_year
    float: left;
    margin-right: 10px;
  &_days
    width: 71px;
  &_month
    width: 113px;
  &_year
    width: 91px;

.b-select:focus {
  outline: 0;
}
.b-select a {
  text-decoration: none;
  cursor: pointer;
}
.dk_toggle {
  display: block;
  // padding: 7px 45px 7px 10px;
  padding: 12px 13px;
  width: auto !important;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-image: url('b-select__arrow.png');
  background-position: 90% center;
  background-repeat: no-repeat;
  color: #333;
  font-size: 15px;
  transition: border-color 0.5s;
}
// .dk_toggle:hover {
//   border-color: #8c8c8c;
// }
// .dk_focus .dk_toggle {
//   border-color: #40b5e2;
// }
.dk_focus .dk_toggle {
  box-shadow: 0 0 5px #40b5e2;
}
.dk_open {
  box-shadow: 0 0 5px #40b5e2;
  z-index: 10;
}
.dk_open .dk_toggle {
  // border-color: #8c8c8c;
  border-radius: 3px 3px 0 0;
  // background-color: #ececec;
  // box-shadow: inset 0 -2px 5px #ccc;
  // color: #ccc;
  display: block;
}
.dk_options {
  border-radius: 0 0 5px 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
}
.dk_options a {
  padding: 6px 15px;
  text-decoration: underline;
  background-color: #fff;
}
.dk_options li:last-child a {
  border-bottom: none;
}
.dk_options a:hover,
.dk_option_current a {
  // border-bottom-color: #004c72;
  // background-color: #0084c7;
  color: grey;
  text-decoration: none;
}
.dk_option_current a,
.dk_options .disabled {
  cursor: default;
}
.dk_options .disabled:hover {
  border-bottom-color: #999;
  background-color: #fff;
  cursor: default;
}
.dk_options_inner {
  max-height: 400px;
  border-right: 1px solid #d4d7c9;
  border-bottom-width: 2px;
  border-bottom-color: #999;
  border-left: 1px solid #d4d7c9;
  border-radius: 0 0 5px 5px;
  background-color: #fff;
  color: #333;
}

/******  End Theme ******/

.b-select {
  position: relative;
  display: none;
  float: left;
}
.b-select a {
  outline: 0;
}
.dk_toggle {
  position: relative;
  display: block;
}
.dk_open {
  position: relative;
}
.dk_open .dk_options {
  display: block;
}
.dk_open .dk_label {
  color: inherit;
}
.dk_options {
  position: absolute;
  right: 0;
  display: none;
  margin-top: -1px;
  width: 100%;
}
.dk_options a,
.dk_options a:link,
.dk_options a:visited {
  display: block;
}
.dk_options_inner {
  position: relative;
  overflow: scroll;
}
.dk_touch .dk_options {
  overflow: hidden;
}
.dk_touch .dk_options_inner {
  overflow: visible;
  max-height: none;
}
.dk_fouc select {
  position: absolute;
  clip: rect(0,0,0,0);
}